[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
"flake8" = "*"
"flake8-comprehensions" = "*"
"flake8-quotes" = "*"
"flake8-builtins" = "*"
"flake8-isort" = "*"

[requires]
python_version = "3.6"
